:root {
    --primary-font: "Nova Square", sans-serif;
    --secondary-font: "Kode Mono", monospace;
}

:root {
    --primary-color: #e0e0df;
    --secondary-color: #302b2d;
    --terciary-color: #ed3839;
    --primary-text-color: #302b2d;
    --secondary-text-color: #ed3839;
    --terciary-text-color: #edeeec;
}